{% extends 'base.html.twig' %}

{% block title %}Liste des Planques{% endblock %}

{% block main %}
    
    <table class="table">
        <thead>
            <tr>                
                <th>Code</th>
                <th>Adresse</th>
                <th>Pays</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hideaway in hideaways %}
            <tr>                
                <td>{{ hideaway.hideawayCode }}</td>
                <td>{{ hideaway.hideawayAdress }}</td>
                <td>{{ hideaway.country }}</td>
                <td>{{ hideaway.typeHideaway }}</td>                
                <td>
                    <a href="{{ path('hideaway_show', {'id': hideaway.id}) }}">Voir</a>
                    <a href="{{ path('hideaway_edit', {'id': hideaway.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
    {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('hideaway_new') }}">Création nouvelle Planque</a>    
    {% endif %}    

{% endblock %}
