{% extends 'base.html.twig' %}

{% block title %}TypeMission{% endblock %}

{% block body %}
    <h1>TypeMission</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_mission.id }}</td>
            </tr>
            <tr>
                <th>TypeMission_name</th>
                <td>{{ type_mission.typeMissionName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_mission_index') }}">Retour à la liste</a>

    <a href="{{ path('type_mission_edit', {'id': type_mission.id}) }}">Modifier</a>

    {{ include('type_mission/_delete_form.html.twig') }}
{% endblock %}
