{% extends 'base.html.twig' %}

{% block title %}Nationality index{% endblock %}

{% block body %}
    <h1>Nationality index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nationality_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nationality in nationalities %}
            <tr>
                <td>{{ nationality.id }}</td>
                <td>{{ nationality.nationalityName }}</td>
                <td>
                    <a href="{{ path('nationality_show', {'id': nationality.id}) }}">show</a>
                    <a href="{{ path('nationality_edit', {'id': nationality.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nationality_new') }}">Create new</a>
{% endblock %}
