{% extends 'base.html.twig' %}

{% block title %}Nationality{% endblock %}

{% block body %}
    <h1>Nationality</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nationality.id }}</td>
            </tr>
            <tr>
                <th>Nationality_name</th>
                <td>{{ nationality.nationalityName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nationality_index') }}">back to list</a>

    <a href="{{ path('nationality_edit', {'id': nationality.id}) }}">edit</a>

    {{ include('nationality/_delete_form.html.twig') }}
{% endblock %}
