 
{% extends 'base.html.twig' %}

{% block main %}   
<div class="container-fluid">
    <div class="fill img1" style="background-image:url('{{asset('assets/images/image01.jpg')}}')">      

        <div class="text-center">    
       
            <h1 class="my-3">Pour acceder à l'administration</h1>
            <h4 class="my-3">Veuillez saisir votre loggin et votre mot de passe</h1>      
        
            {% if error %}
            
            {# <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>  #}
            <div>Vous n'êtes pas autorisé !</div>  
            {% endif %}  
        

        <form action="{{ path('login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="_password"/>        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">  
            <input type="hidden" name="_target_path" value="{{ path('admin') }}"/>
            <button type="submit">Se Loger</button>
        </form>    
              
        </div>
    </div>  
   </div>  
{% endblock main %}

