{% extends 'base.html.twig' %}

{% block title %}Liste des Missions{% endblock %}

{% block main %}   

    <table class="table">
        <thead>
            <tr>                
                <th>Titre</th>               
                <th>Nom de Code</th>
                <th>Type</th>
                <th>Spécialité</th>
                <th>Status</th>
                <th>Date de Début</th>                
                <th>Code Agent(s)</th>       
                <th>Actions</th>
            </tr>

        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>                
                <td>{{ mission.missionTitle }}</td>                
                <td>{{ mission.missionCodeName }}</td>
                <td>{{ mission.typeMission }}</td>
                <td>{{ mission.speciality }}</td>
                <td>{{ mission.status }}</td>
                <td>{{ mission.missionStartDate ? mission.missionStartDate|date('Y-m-d') : '' }}</td>                            
                <td>                   
                    {% for agents in mission.agent %}
                    <li>{{ agents.AgentIdentificationCode}}</li>                  
                    {% else %}
                        <li><em>vide</em></li>
                    {% endfor %}
                </td>               
                <td>                    
                    <a href="{{ path('mission_show', {'id': mission.id}) }}">Voir</a>
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('mission_edit', {'id': mission.id}) }}">Modifier</a>
                    {% endif %}   
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="7">Vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('mission_new') }}">Création Nouvelle Mission</a>
    {% endif %}    

{% endblock main %}


