{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block main %}
    
    <table class="table">
        <thead>
            <tr>                
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de Naissance</th>
                <th>Code d'identification</th>
                <th>Nationalité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>                
                <td>{{ contact.contactLastName }}</td>
                <td>{{ contact.contactFirstName }}</td>
                <td>{{ contact.contactBirthDate ? contact.contactBirthDate|date('Y-m-d') : '' }}</td>
                <td>{{ contact.contactCodeName }}</td>
                <td>{{ contact.nationality }}</td>   
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">Voir</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>   

    {% if is_granted('ROLE_ADMIN') %}
             <a href="{{ path('contact_new') }}">Création nouveau Contact</a>         
    {% endif %}    
    
{% endblock %}
