<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>L'agence 45</title>
    {%  block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">  

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock stylesheets %}
</head>  

        <header>
            
            <nav class="navbar-expand-lg navbar-light py-2" style="background-color: #acd39a;">
                <div class="container-fluid">
                            
                
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>                    
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a class="nav-link" href="{{ path('mission_index') }}">Missions</a>                                
                            <a class="nav-link" href="{{ path('login') }}">Administrateur</a>                    

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                                
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="mission_index" role="button" aria-expanded="false">Missions</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{path('mission_index')}}"> Voir - Modifier - Supprimer</a></li>                                        
                                        <li><a class="dropdown-item" href="{{path('mission_new')}}">Créér</a></li>                              
                                    </ul>
                                </li>

                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="agent_index" role="button" aria-expanded="false">Agents</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{path('agent_index')}}"> Voir - Modifier - Supprimer</a></li>                                        
                                        <li><a class="dropdown-item" href="{{path('agent_new')}}">Créér</a></li>                              
                                    </ul>
                                </li>

                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="contact_index" role="button" aria-expanded="false">Contacts</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{path('contact_index')}}"> Voir - Modifier - Supprimer</a></li>                                        
                                        <li><a class="dropdown-item" href="{{path('contact_new')}}">Créér</a></li>                              
                                    </ul>
                                </li>

                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="target_index" role="button" aria-expanded="false">Cibles</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{path('target_index')}}"> Voir - Modifier - Supprimer</a></li>                                        
                                        <li><a class="dropdown-item" href="{{path('target_new')}}">Créér</a></li>                              
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="target_index" role="button" aria-expanded="false">Autres</a>
                                    <ul class="dropdown-menu">                                                                              
                                        <li><a class="dropdown-item" href="{{path('status_new')}}">Status des Missions</a></li> 
                                        <li><a class="dropdown-item" href="{{path('type_mission_new')}}">Type de Missions</a></li>                                                                                 
                                        <li><a class="dropdown-item" href="{{path('speciality_new')}}">Specialités</a></li>                                              
                                        <li><a class="dropdown-item" href="{{path('hideaway_new')}}">Planques</a></li>   
                                        <li><a class="dropdown-item" href="{{path('type_hideaway_new')}}">Types de Planque</a></li> 
                                        <li><a class="dropdown-item" href="{{path('country_new')}}">Pays</a></li>   
                                        <li><a class="dropdown-item" href="{{path('nationality_new')}}">Nationalités</a></li>   
                                    </ul>                           
                                    </ul>
                                </li>
          
                            {% endif %}
                        </ul>
                    </div>
                </div>                
            </nav>

        </header>

    <body class="container-fluid">

        <div class="row">
            <div class="col">           

                <div class="h1 text-center py-5">
                {% block title %}{% endblock %}
                </div>

                <main >    
                {% block main %}                       
                {% endblock main %}  
                </main>

                <footer></footer>

            </div>
        </div>
    </body>  

    </html>