{% extends 'base.html.twig' %}

{% block title %}Liste des Cibles{% endblock %}

{% block main %}
   
    <table class="table">
        <thead>
            <tr>                
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de Naissance</th>
                <th>Code d'identification</th>
                <th>Nationalité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for target in targets %}
            <tr>                
                <td>{{ target.targetLastName }}</td>
                <td>{{ target.targetFirstName }}</td>
                <td>{{ target.targetBirthDate ? target.targetBirthDate|date('Y-m-d') : '' }}</td>
                <td>{{ target.targetCodeName }}</td>
                <td>{{ target.nationality.nationalityName }}</td>               
                <td>
                    <a href="{{ path('target_show', {'id': target.id}) }}">Voir</a>
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('target_edit', {'id': target.id}) }}">Modifier</a>           
                    {% endif %}   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
             <a href="{{ path('target_new') }}">Création nouvelle Cible</a>
    {% endif %}   

{% endblock %}
